pkgbase = aruba-onboard-uvg
	pkgdesc = HPE Aruba Onboard client for UVG CAMPUS CENTRAL (802.1X enrollment)
	pkgver = 1.0.0
	pkgrel = 3
	url = https://www.arubanetworks.com/
	install = aruba-onboard-uvg.install
	arch = x86_64
	license = custom
	depends = networkmanager
	depends = wpa_supplicant
	depends = qt5-base
	depends = qt5-svg
	depends = openssl
	depends = iw
	optdepends = systemd: wifi-interface service for Framework laptops
	conflicts = iwd
	source = aruba-onboard-data.tar.gz
	source = aruba-onboard-wrapper
	source = aruba-enrollment-helper
	source = wifi-interface.service
	source = aruba-onboard.desktop
	sha256sums = c41f28d53bbb8fe1a9bbb0de7bd0587d3288090fc00742e1ea15d082122a50eb
	sha256sums = 0591b3ceb0a8611e2eb46f691ff7157d774182d36fd24f047e55d90a763c4355
	sha256sums = 6950e06c6746bcc28694ec6addb8d3b74fc00b931d915cf5b0fe7bc162a0d31f
	sha256sums = 97e696c0ffb540a6b52b95c011be1986ffa7ffb9896fbb4f5eed4ce173e96c77
	sha256sums = 9ef0cf82134826ec42e060789ece9a1ccce42090a3713cf85ce4ee3626ba5f0a

pkgname = aruba-onboard-uvg
